/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to bottom, #56CCF2 0%, #2F80ED 250px, #EDEDED 250px, #EDEDED 100%);
  font-family: 'Poppins';
  font-size: 14px;
}

.onHoverDark:hover {
  color: #fff !important;
}

.hrefWithoutDecoration {
  text-decoration: none !important;
  color: black !important;
}

.activeCustom {
  color: #FFF
}

.inactiveCustom {
  color: #cecece
}

.fullwidth {
  width: 100%;
}
