<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8">
      <div class="row mb-3">
        <div class="col">
          <h3 class="text-white">Akshay Krishna</h3>
        </div>
      </div>
      <div class="row mt-3 mb-4 text-center">
        <div class="col-xl-6">
          <div class="row">
            <div class="col">
              <a class="nav-link onHoverDark activePage" href="/">Home</a>
            </div>
            <div class="col">
              <a class="nav-link onHoverDark inactivePage" href="/work">Work</a>
            </div>
            <div class="col">
              <a class="nav-link onHoverDark inactivePage" href="/contact">Contact</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <router-outlet>

      </router-outlet>
    </div>
    <div class="col-lg-4">
      <div class="row py-5 px-4 bg-light shadow mx-1">
        <div class="col text-center">
          <img class="pb-5" src="../assets/ak.jpg" style="max-width: 200px; width: 100%">
          <p>
            Hey!
            I'm Akshay, a 20-year-old who is into Front-end Development, UI/UX Design and Graphic Designing
            based in India.
            <br>
            <br>
            I'm currently pursuing Electrical Engineeing from IIT Madras.
            I started learning web development and designing as i was intrigued by all those cool websites and
            artworks you see online and wanted to create and input my own ideas.
            <br>
            <br>
            When not coding or desigining, I'll most probably be watching YouTube/Movies or I'll be eating.
            I love listening to music. I mainly listen to Hip-Hop, Pop and Lofi songs. Feel free to
            message suggesting your favourite song or movie.
          </p>
        </div>
      </div>

      <div class="row py-5 px-4 bg-light shadow mx-1 mt-5">
        <div class="col">
          <h5 class="pb-2"><b>Contact Information</b></h5>
          <p>
            <a href="mailto:akshaykrishnakanth@gmail.com"><strong>Email: </strong>
              akshaykrishnakanth@gmail.com</a><br><br>
            <a href="https://www.linkedin.com/in/akshay-krishna-6217b3182/" target="_blank"><strong>LinkedIn</strong>
            </a><br><br>
            <a href="https://github.com/akshaykrishh"><strong>GitHub</strong> </a><br><br>
            <a href="https://www.instagram.com/akshay.krish/"><strong>Instagram</strong> </a><br><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
